<!-- <div class="text-layout">
  <h1>{{ nombre | uppercase }}</h1>
  <h1>{{ valor | number }}</h1>
  <pre>{{ obj | json }}</pre>
  
  <button (click)="mostarNombre()"
    pButton label="Cambiar nombre"
    icon="pi pi-check"
    iconPos="right"
    class="p-button-help">
  </button>

  <p-card [header]="nombre | titlecase"
          subheader="Esto es un subheader">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione quam debitis asperiores obcaecati error excepturi voluptate autem est vitae dolorem aspernatur, laboriosam accusamus saepe placeat, tempora, sed labore nam magni!
  </p-card>

  
</div> -->

<app-menu></app-menu>

<router-outlet></router-outlet>